body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thumbnail{
  height: 25%;
  width: 25%;
  float: left;
}
.media-object{
  height: 25%;
  width: 25%;
  float: left;
}


/*#image-zone{*/
  /*display: inline;*/
  /*height: 25%;*/
  /*width: 25%;*/
/*}*/


