body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thumbnail{
  height: 25%;
  width: 25%;
  float: left;
}
.media-object{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.square{
  height: 200px;
  width: 200px;
  float: left;
}

.show{
  display: initial;
}
.hide{
  display: none;
}

/*#image-zone{*/
  /*display: inline;*/
  /*height: 25%;*/
  /*width: 25%;*/
/*}*/


